html {
	background: url(../assets/christmas-tree.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Helvetica Neue', sans-serif;
	max-width: 100%;
	height: auto;
}

.box {
	width: 300px;
	height: 300px;
	/* background: rgba(0, 0, 0, 0.5); */
	padding: 25px;
	color: white;
	margin: 0 auto;
	margin-top: 80px;
	text-align: center;
}

.gt {
	color: rgb(138, 138, 34);
}

h1 {
	font-weight: 200;
	letter-spacing: 5px;
}

.social {
	font-size: 50px;
	margin-top: 30px;
	letter-spacing: 0px;
}

img {

}

i:hover, img:hover {
	transform: scale(1.1, 1.1);
}

.social a {
	color: white;
}

img {
	width: 53px;
	height: 100%;
	vertical-align: bottom;
}

/* resume:link, resume:hover, resume:active, resume:visited {
	color: white;
} */

#resume {
	color: white;
	text-decoration: none;
	position: relative;
	bottom: 0;
	right: 0;
}