html {
	background: url(../assets/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Helvetica Neue', sans-serif;
	max-width: 100%;
	height: auto;
}

.box {
	width: 300px;
	/* height: 300px; */
	background: rgba(0, 0, 0, 0.5);
	padding: 25px;
	color: white;
	margin: 0 auto;
	margin-top: 80px;
	text-align: center;
}

.gt {
	color: rgb(138, 138, 34);
}

h1 {
	font-weight: 200;
	letter-spacing: 5px;
}

/* START collapse */
.collapse {
	background: rgba(0, 0, 0, 0.0);
	/* background-color: grey; */
	color: #fff;
	cursor: pointer;
	padding: 9px;
	width: 100%;
	border: none;
	text-align: center;
	outline: none;
	font-size: 15px;
	font-style: italic;
}

.content {
	color: black;
	padding: 6px 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
	text-align: left;
}

.active, .collapse:hover {
	background-color: #ccc;
	color: #444;
	transition: 0.8s;
	font-style: bold;
}
/* END collapse */

.social {
	font-size: 50px;
	letter-spacing: 0px;
	text-align: center;
}

/* START social media icons */
i:hover, img:hover {
	transform: scale(1.1, 1.1);
}

.social a {
	color: black;
}

img {
	width: 53px;
	height: 100%;
	vertical-align: bottom;
}
/* END social media icons */

/* START work experience */

section {
	margin-bottom: 12px;
}

.work-title {
	font-weight: bold;
}

.date {
	display: block;
}

.org {
	font-style: italic;
}

/* END work experience */